<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!!</title>
</head>
<body>
    {{$name:=.}}    <!--Declating a variable to get the value -->
    <h1>HELLO MY PC WORLD!!!!!!!!!!!!!!!!!</h1>
    <h2>THIS IS {{$name}}<h2> <!-- Using the received variable for printing the value -->
</body>
</html>