<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!!</title>
</head>
<body>
<ul>
    <h1>Passing a slice</h1>
    {{range .}} <!-- Using a simple range function -->
    <li>{{.}}</li>  <!-- Printing the values -->
    {{end}}
</ul>
</body>
</html>